[data-mount="true"] {
  margin-block: 0px !important;
}

/* .maplibregl-ctrl.maplibregl-ctrl-attrib.maplibregl-compact.maplibregl-compact-show {
  background-color: #222226;
}

.maplibregl-ctrl.maplibregl-ctrl-attrib.maplibregl-compact.maplibregl-compact-show
  * {
  color: #eee;
} */
